
.classpath
.project
.settings/org.eclipse.core.resources.prefs
target/test-classes/ObjetoPrueba.json
target/test-classes/com/devinspirare/commons/UtilsTest.class
target/test-classes/com/devinspirare/commons/model/Prueba.class
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/dpe-app-jar-commons.jar
target/classes/ObjetoPrueba.json
target/classes/META-INF/maven/com.devinspirare/dpe-app-jar-commons/pom.xml
target/classes/META-INF/maven/com.devinspirare/dpe-app-jar-commons/pom.properties
target/classes/META-INF/MANIFEST.MF
target/classes/com/devinspirare/commons/Utils.class
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
